<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <title>Jorbs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style.css">

  </head>

  <body>

    <div class="container" id="scheduler">
      <h1 align="center">Schedule reoccuring tasks</h1>
      <h4 align="center">This scheduler lets you add commands which are executed at regular intervals.</h4>
      <section class="selections">
        <input type="text" placeholder="Enter your command" autofocus class="textInput" v-model="commandToRun" v-on:keyup.enter="addCommand">
        <button v-on:click="addCommand">Save</button>
        <button v-on:click="cancelCommand">Cancel</button>
      </section>

      <div class="selections">
        <span>
          Dyno Size
          <select class="dropdown" v-model="dynoSize">
            <option value="Free">Free</option>
          </select>
        </span>

        <span>
          Frequency
          <select class="dropdown" v-model="jobFrequency">
            <option value="Daily">Daily</option>
            <option value="Hourly">Hourly</option>
            <option value="Every10Min">Every 10 Minutes</option>
          </select>
        </span>

        <span>Last Run</span>
        <span>never</span>

        <span>Next Due</span>
        <span>{{ now }}
          <select id="scheduler" v-bind:class="halfHourList" v-model="nextDue">
            <option v-for="times in timeList">{{ times }}</option>
          </select>
        </span>
      </div>

      <div v-for="all in commandList">
        <div class="attributes">
          <span style="font-weight:bold">{{ all.command }}</span>
        </div>

        <div class="flex-container">
          <div class="flex-column column1">
            <span>Dyno Size: </span>
          </div>
          <div class="flex-column column2">
            <span>Frequency: </span>
          </div>
          <div class="flex-column column3">
            <span>Last Run: </span>
          </div>
          <div class="flex-column column4">
            <span>Next Due: </span>
          </div>
        </div>

        <div class="flex-container">
          <div class="flex-column column1">
            <span>{{ all.dyno }}</span>
          </div>
          <div class="flex-column column2">
            <span>{{ all.frequency }}</span>
          </div>
          <div class="flex-column column3">
            <span>{{ all.run }}</span>
          </div>
          <div class="flex-column column4">
            <span>{{ all.today }}</span>
            <span>{{ all.due }}</span>
          </div>
        </div>

        <div class="attributes">
          <button class="hidden" for="editData" v-on:click="indexCommand(all)"><label class="hidden" for="editData">Edit</label></button>
          <button v-on:click="removeCommand(all)">Remove</button>
        </div>

        <div class="attributes">
          <div class="">
            <input class="trigger" type="checkbox" id="editData" name="editData">
            <div class="visible">
              <div class="">
                <section class="selections">
                  <input type="text" placeholder="Enter your command" autofocus class="textInput" v-model="commandToRunEdit">
                  <button v-on:click="editCommand(all)"><label for="editData">Save</label></button>
                  <button v-on:click="cancelCommand"><label for="editData">Cancel</label></button>
                </section>
                <div class="selections">
                  <span>
                    Dyno Size
                    <select class="dropdown" v-model="dynoSizeEdit">
                      <option value="Free">Free</option>
                    </select>
                  </span>
                  <span>
                    Frequency
                    <select class="dropdown" v-model="jobFrequencyEdit">
                      <option value="Daily">Daily</option>
                      <option value="Hourly">Hourly</option>
                      <option value="Every10Min">Every 10 Minutes</option>
                    </select>
                  </span>
                  <span>Last Run</span>
                  <span>never</span>
                    <span>Next Due</span>
                      <span> {{ nowEdit }}
                        <select v-bind:class="halfHourList" v-model="nextDueEdit">
                          <option v-for="times in timeList">{{ times }}</option>
                        </select>
                      </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <script src="vue.min.js" charset="utf-8"></script>
    <script src="jorbs.js" charset="utf-8"></script>

  </body>

</html>