html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: rgba(239, 241, 242, 1);
}

.container {
  width: 50%;
  margin: 1em auto 3em;
  border: 1px solid rgba(229, 229, 229, 1);
}

.selections {
  display: flex;
  align-columns: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(239, 239, 239, 1);
  background-color: rgba(231, 232, 235, 1);
}

.textInput {
  border: 1px solid rgba(222, 222, 222, 1);
  padding-left: 13px;
  width: 70%;
  height: 35px;
  color: #555;
}

button {
  color: rgba(232, 232, 232, 1);
  background-color: rgba(120, 88, 160, 1);
  border: 1px solid rgba(187, 187, 187, 1);
  border-radius: 10px;
  width: 70px;
  height: 35px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(231, 232, 235, 1);
}

.flex-column {
    margin: 10px;
}

.column1 {
    flex: 2;
}
.column2 {
    flex: 2;
}
.column3 {
    flex: 2;
}
.column4 {
    flex: 2;
}

.attributes {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(239, 239, 239, 1);
  background-color: rgba(231, 232, 235, 1);
  justify-content: space-between;
}

.trigger,
.visible {
  display: none;
}

.trigger[type="checkbox"]:checked + .visible {
  display: block;
}
.trigger[type="checkbox"]:checked + .visible + .hidden {
  display: none;
}